footer.b-footer-page
  .container
    .__wrap
      .__item.__about
        img(src="../../../../assets/img/busstart-logo-while.svg", alt="БусСтарт" width="140")
      .__item.__adress
        .b-address
          div Минск, ул. К.Маркса, 18
          a(href="#") Посмотреть на карте
      .__item.__tel
        .tel Тел.:
          a(href="tel:+375(29)162-87-96") +375 (29) <b>162-87-96</b>
          |  Максим
        .tel Тел.:
          a(href="tel:+375(29)161-96-28") +375 (29) <b>161-96-28</b>
          |  Сергей
      .__item._contact социалки
