header.b-page-header
  .container
    .__wrap
      .__title
        a(href="/").logo.__logo
          img(src="../../../../assets/img/busstart-logo.svg", alt="Бусстарт. Переоборудование автомобилей")
        h1.__slogan переоборудование<br> автомобилей в Минске
      .__tel
        .tel Тел.:
          a(href="tel:+375(29)162-87-96") +375 (29) <b>162-87-96</b>
          |  Максим
        .tel Тел.:
          a(href="tel:+375(29)161-96-28") +375 (29) <b>161-96-28</b>
          |  Сергей


