.b-portfolio
  .__item
    .__grid
      a.__img(data-fancybox="gallery" href="../../assets/img/content/portfolio/slide-1.jpg")
        img(src="../../assets/img/content/portfolio/slide-1.jpg", alt="")
      a.__img(data-fancybox="gallery" href="../../assets/img/content/portfolio/slide-2.jpg")
        img(src="../../assets/img/content/portfolio/slide-2.jpg", alt="")
      a.__img(data-fancybox="gallery"  href="../../assets/img/content/portfolio/slide-3.jpg")
        img(src="../../assets/img/content/portfolio/slide-3.jpg", alt="")
  .__item
    .__grid
      a.__img(data-fancybox="gallery"  href="../../assets/img/content/portfolio/slide-4.jpg")
        img(src="../../assets/img/content/portfolio/slide-4.jpg", alt="")
      a.__img(data-fancybox="gallery"  href="../../assets/img/content/portfolio/slide-5.jpg")
        img(src="../../assets/img/content/portfolio/slide-5.jpg", alt="")
      a.__img(data-fancybox="gallery"  href="../../assets/img/content/portfolio/slide-6.jpg")
        img(src="../../assets/img/content/portfolio/slide-6.jpg", alt="")
  .__item
    .__grid
      a.__img(data-fancybox="gallery"  href="../../assets/img/content/portfolio/slide-7.jpg")
        img(src="../../assets/img/content/portfolio/slide-7.jpg", alt="")
      a.__img(data-fancybox="gallery"  href="../../assets/img/content/portfolio/slide-8.jpg")
        img(src="../../assets/img/content/portfolio/slide-8.jpg", alt="")
